# -------------------------
# Python
# -------------------------
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# OS / IDE
# -------------------------
.DS_Store
.vscode/

# -------------------------
# Large / Generated Folders
# -------------------------
models/
artifacts/
outputs/
transformer_data/
data/splits/
data/

# -------------------------
# Optional: Large files
# (uncomment if needed)
# -------------------------
# *.pt
# *.bin
# *.pkl
# *.h5